.background {
    position: fixed; /* 화면 기준으로 고정 */
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    z-index: 2;
}

.login {
    position: absolute;
    bottom: 0px;
    background-color: aliceblue;
    width: 500px;
    height: 650px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.h1 {
    position: absolute;
    top: 30px;
    left: 50px;
    font-weight: 900;
    font-size: 50px;
    letter-spacing: 5px;
}

.p {
    position: absolute;
    top: 140px;
    left: 50px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 3px;
}

.close {
    position: absolute;

    &:hover {
        color: black;
    }
}

.loginImg {
    position: absolute;
    width: 400px;
    height: auto;
    top: 70px;
    left: 200px;
}

.secImg {
    position: absolute;
    width: 190px;
    height: auto;
    left: 155px;
    top: 350px;
}

.kakaoImg {
    position: absolute;
    width: 370px;
    height: auto;
    left: 65px;
    top: 400px;
    cursor: pointer; 
}