.chatContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 150px);
    align-items: center;
}

.chatWindow {
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    background-color: rgb(244, 244, 244);
}

.chatWindow__header {
    background: #ffead0;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgb(243, 243, 243);
    position: fixed;
}

.chatWindow__content {
    padding-top: 80px;
    padding-bottom: 20px;
    overflow: scroll;
}
