.recipeContainer {
    background: none;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-self: flex-start;
    flex-direction: column;
    gap: 15px;
    margin: 0 0 0 100px;

}

.recipeBlockContainer {
    background: none;
    display: flex;
    justify-content:space-around;
    height: 60px;
    gap: 2px;
}

.recipeBlock{
    background-color: white;
    border: 1px solid #a2a2a2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    width: 80px;
    color: black;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recipeBlock:hover {
    background-color: #e1f0ff;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: scale(1.3);
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}
.recipe__content {
    display: flex;
    background-color: white;
    border: 1px solid #a2a2a2;
    border-radius: 20px;
    width: 100%;
    flex-direction: column;

    button {
        border: 1px solid #a2a2a2;
        border-radius: 10px;
    }
}

.buttonRow {
    display: flex;
    gap: 12px;
    justify-content: flex-end; 
    margin: 10px;
}

.saveBtn {
    background-color: #e1f0ff;
}

.recipeDetail {
    height: 35vh;
    overflow-y: scroll;
    padding: 16px;
}