.myrecipe {
    position: relative;
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.myrecipe::before, .myrecipe::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.myrecipe::before{
    transform: rotateY(-5deg)  translateY(10px) translateX(15px);
    z-index: -1;
}

.myrecipe::after{
    transform: rotateY(-10deg) translateY(20px) translateX(30px);
    z-index: -2;
}

.myrecipe__header {
    font-size: 24px;
    font-weight: 600;
    margin: 0 5px 15px 10px;
}

.myrecipe__content {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.recipe__list {
    width: 40%;
    overflow-y: scroll;
}

.recipe {
    background-color: #f8fafc;
    border-radius: 12px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.04);
    padding: 14px 20px;
    margin: 5px 0;
    font-size: 16px;
    font-weight: 500;
    color: #222;
    cursor: pointer;
    border: none;
    transition: box-shadow 0.2s, background 0.2s, color 0.2s;
}

.recipe:hover {
    background: #e1f0ff;
    color: #0070ff;
    box-shadow: 0 4px 16px 0 rgba(0,112,255,0.08);
}

.active {
    transform: scale(1.03);
    background-color: #e1f0ff;
    color: #0070ff;
    box-shadow: 0 4px 16px 0 rgba(0,112,255,0.12);
}

.recipe__info {
    background-color: #fff;
    border-radius: 16px;
    border:1px solid rgb(233, 233, 233);
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.04);
    width: 100%;
    max-width: 400px;
    min-width: 220px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 18px 24px 18px;
    p {
        max-width:  90%;
    }
}

.recipe-delete {
    position: static;
    width: 80%;
    max-width: 220px;
    height: 38px;
    margin-top: 18px;
    border-radius: 10px;
    background-color: #0070ff;
    color: white;
    font-weight: 600;
    border: none;
    box-shadow: 0 2px 8px 0 rgba(0,112,255,0.08);
    transition: background 0.2s, transform 0.2s;
    cursor: pointer;
}

.recipe-delete:hover {
    background: #005bd1;
}

.recipe-delete:active {
    transform: scale(0.97);
}