.home {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.home__content {
    margin-top: 60px;
    background: none;
    display: flex;
    flex: 1;
    height: calc(100vh - 60px);
    overflow: hidden;
}

.home__chat {
    display: flex;
    flex: 1;
    flex-direction: column;
    background: none;
    min-height: 0;
}