.chatList {
    overflow-y: auto;
}

.room {
    border-radius: 20px;
    height: 40px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    margin: 5px 0;
}

.room:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}