.chatList {
    overflow-y: auto;
    max-height: 580px;
    width: 100%;
}

.room {
    border-radius: 20px;
    height: 37px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    margin: 5px 0;

}

.room:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.room__titleInput {
    border: 1px solid #fcefef;
    flex: 1;
    padding: 5px 0;
    height: 40px;

    &:focus {
    background-color: #f4f4f4;
    text-align: center;
    outline: none;
    font-size: 16px;
  }

}

.chatWindow__title {
  display: inline-block;
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

.selectedRoom {
  background-color: #e1f0ff;
  font-weight: 600;
  color: #0070ff;
}