.logout {
    display: flex;
    background: white;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 20px;
    width: 100%;
    height: 75vh;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.logout__buttons {
    // background-color: aqua;
    display: flex;
    gap: 20px;
}

.logout__confirm {
    border: 1px solid black;
    border-radius: 10px;
}


.logout__cancel {
    border: 1px solid black;
    border-radius: 10px;
}