.Overlay {
    position: fixed;
    background: rgba(0,0,0,0.5);
    top:0;
    bottom:0;
    left:0;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.Modal{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 36px 40px 32px 40px;
  border-radius: 18px;
  width: 100%;
  max-width: 480px;
  min-width: 320px;
  max-height: 80vh;
  overflow-y: auto;
}

.modalClose {
    position: absolute;
    width: 60px;
    top: 20px;
    right: 20px;
    color: #5d5d5d;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 101;
}

.modalClose:hover {
    color: #005bd1;
    transition: background-color 0.3s ease-out;
}