.Navbar {
    position: relative;
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 6px 0 #0000001F;
    align-items: center; 
    display: flex;
    z-index: 1;
}

.logo {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 25px;
}

.sign_up {
    position: absolute;
    width: 100px;
    height: 27px;
    right: 45px;
    border-radius: 6px;
    border-style: none;
    cursor: pointer;
    font-weight: 700;
}

/* 로그인 후 상단바 */
.login_nav {
    position: absolute;
    display: none;
}