.sidebar{
    display: flex;
    border: 1px solid rgb(226, 226, 226);
    width: 30%;
    min-width: 200px;
    height: 100vh;
    color: rgb(0, 0, 0);
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    gap: 30px;

    .MyIngreContainer {
        display: flex;
        flex: 1;
        background: white;
        height: 100%;
        max-height: 50vh;
        min-width: 20vw;
        border-radius: 20px;
        border: 1px solid rgb(0, 0, 0);
        flex-direction: column;
    }

    .MyIngreContainer__header {
        width: 100%;
        min-height: 40px;
        display: flex;
        font-size: 16px;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid rgb(0, 0, 0);
        font-weight: 600;
        color: #000;
        gap: 20px;
        
    }

    .MyIngreContainer__content {
    border: none;
    flex-direction: column;
    overflow-y: auto;
    display: flex;
    align-items: center;
    }

    .sortButton {
    display: flex;
    width: 40px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background: none;
    align-items: center;
    justify-content: center;
    border-bottom: #b7b7b7 1px solid;
    cursor: pointer;    
}

    .item {
        display: flex;
        height: 40px;
        width: 70%;
        flex-shrink: 0;
        background: #F78F10;
        border-radius: 16px;
        align-items: center;
        margin: 20px 10px 0;
        padding: 10px;
    }
}

.sidebar__header {
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 13px;
    text-align: center;
    margin: 12px;
}

.sidebar__content {
    overflow-y: auto;
}

.room {
    border-radius: 20px;
    height: 40px;
    width: 250px;
    text-align: center;
    padding: 10px 0;
}

.room:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}
