.sidebar{
    display: flex;
    border: 1px solid rgb(226, 226, 226);
    width: 30%;
    min-width: 200px;
    height: 100vh;
    color: rgb(0, 0, 0);
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    gap: 30px;

    .MyIngreContainer {
        display: flex;
        flex: 1;
        background: white;
        height: 100%;
        max-height: 50vh;
        min-width: 20vw;
        border-radius: 20px;
        border: 1px solid rgb(196, 196, 196);
        box-shadow: 0px 4px 12px 0px rgb(238, 238, 238);
        flex-direction: column;
    }

    .MyIngreContainer__header {
        width: 100%;
        min-height: 40px;
        display: flex;
        font-size: 14px;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid rgb(196, 196, 196);
        font-weight: 600;
        color: #000;
        gap: 20px;
        
    }

    .MyIngreContainer__content {
    margin-top: 10px;
    border: none;
    flex-direction: column;
    overflow-y: auto;
    display: flex;
    align-items: center;
    max-height: 45vh;
    }

    .sortButton {
    display: flex;
    width: 60px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background: #ffdddd;
    align-items: center;
    justify-content: center;
    border-bottom: #a2a2a2 1px solid;
    cursor: pointer;    
}

    .item {
        display: flex;
        height: 25px;
        width: 70%;
        flex-shrink: 0;
        background: #ffefdb;
        border: 1px solid rgb(196, 196, 196);
        box-shadow: 0px 4px 12px 0px rgb(238, 238, 238);    
        border-radius: 16px;
        justify-content: center;
        align-items: center;
        margin: 2px;
        padding: 12px;
    }
}

.sidebar__header {
    position: relative;
    border-bottom: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
}


.createChatBtn {
    position: absolute;
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-color: bisque;
    right: 20px;
    border-radius: 20px;

}

.createChatBtn:hover {
    background-color: rgb(196, 196, 196);
}

