.message {
    display: flex;
    margin: 10px 16px;
}

.message__content {
    padding: 10px 14px;
    font-size: 14px;
    max-width: 60%;
    width: fit-content;
    word-break: break-word;
    white-space: pre-wrap;
    border-radius: 16px;
}

.user {
    background: #1183ff;
    text-align: right;
    color: white;
    margin-left: auto;
}

.bot {
    background: #ffffff;
    text-align: left;
    color: black;
    margin-right: auto;
}
